.box{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}



.box .container{

    animation: show 1s;
  
    position: absolute;
    width: 90%;
    max-width: 544px;
    height: 480px;
    margin-bottom: 40px;

    background: #FFFFFF;
    
    box-shadow: 0px 2px 4px rgba(112, 122, 138, 0.5), 0px 4px 24px rgba(175, 186, 204, 0.4);
    border-radius: 8px;
}

.title {

    position: absolute;
    width: 100%;
    max-width: 258px;
    height: 23px;
    left: 32px;
    top: 48px;

    font-family: Gotham;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    
    color: #333840;
}

.nav{
    margin-top: 26.5px;
    margin-left: 32px;
    margin-bottom: 10.5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inactive-i-nav{
    color: #707A8A;
    position: static;
    height: 11px;
    left: 0px;
    right: 121px;
    top: 2.5px;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.inactive-i-nav-block{
    color: #707A8A;
    position: static;
    height: 11px;
    left: 0px;
    right: 121px;
    top: 2.5px;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;

    cursor: not-allowed;
}

.active-i-nav{
    position: static;
    height: 11px;
    left: 0px;
    right: 121px;
    top: 2.5px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    
    color: #333840;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.active-nav{
    position: static;
    height: 11px;
    left: 0px;
    right: 121px;
    top: 2.5px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    
    color: #333840;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.inactive-nav{
    color: #707A8A;
    position: static;
    height: 11px;
    left: 0px;
    right: 121px;
    top: 2.5px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.inactive-nav-block{
    color: #707A8A;
    position: static;
    height: 11px;
    left: 0px;
    right: 121px;
    top: 2.5px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;

    cursor: not-allowed;
}

.terms-box{
    
    position: absolute;
    left: 0px;
    right: 0px;
    top: 83px;
    bottom: 91px;

    background: #FFFFFF;
}



.terms{
    overflow-y: scroll;
    position: absolute;
    width: 86%;
    max-width: 464px;
    height: 306px;
    left: 32px;
    right: 48px;
    color: #58606E;

    
}::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background:#EBEFF5; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: #C8D1E0; 
  }

.effect{
    position: absolute;
    height: 33px;
    width: 90%;
    max-width: 544px;
    Top: 356px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.noeffect{

    display: none;
}


.button-accept{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    
    position: absolute;
    width: 16%;
    max-width: 81px;
    height: 35px;
    margin-left: 77%;
    top: 413px;
    
    background: #0A3BB7;
    border-radius: 4px;
    font-weight: 700;
    
    border-radius: 4px;

    cursor:pointer;

    color: #FFFFFF;
    
}


.button-disable{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    
    position: absolute;
    width: 16%;
    max-width: 81px;
    height: 35px;
    margin-left: 77%;
    top: 413px;
    
    background: #C8D1E0;
    border-radius: 4px;
    font-weight: 700;
    
    border-radius: 4px;

    cursor:not-allowed;

    color: #FFFFFF;
    
    
    
}



.button-decline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    
    position: absolute;
    width: 16%;
    max-width: 81px;
    height: 35px;
    margin-left: 60%;
    top: 413px;
    font-weight: 700;

    background: #FFFFFF;
    border: 1px solid #C8D1E0;
    background: #FFFFFF;
    border-radius: 4px;
    cursor:pointer;
    
    color: #B20909;
}

@media (max-width: 390px) {
    *{
        font-size: 95%;
    }
    .mensage{
        font-size: 11px;
    }

    .title{
        font-size: 18px;
        margin-top: 6px;
    }
    .button-accept{
        font-size: 10px;
    }
    .button-decline{
        font-size: 10px;
        margin-left: 60%;
    }
    .button-disable{
        font-size: 10px;
        
    }
    .terms{
        width: 83%;
    }



}

@media (max-width: 280px) {
    *{
        font-size: 94%;
    }

    .mensage{
        font-size: 9px;
    }

    .title{
        font-size: 14px;
        margin-top: 5px;
    }
    .button-accept{
        font-size: 9px;
    }
    .button-decline{
        font-size: 9px;
        margin-left: 58%;
    }
    .button-disable{
        font-size: 9px;
        
    }
    .terms{
        width: 81%;
    }

}

@keyframes show {

    from{
        opacity: 0;
    }
     to {
        opacity: 1;
     }
}