<div class="box">
    <div class="container">
  
      <header>
        <nav>
          <ul class="nav">
            <a routerLink="/register" class="active-nav">01</a>
            <a class="inactive-i-nav">></a>
            <a class="inactive-nav">02</a>
            <a class="inactive-i-nav">></a>
            <a class="inactive-nav">03</a>
            <a class="inactive-i-nav">></a>
            <a class="inactive-nav">04</a>
          </ul>
        </nav>
      </header>
  
      <h1 i18n class="title"> Create your account</h1>
  
      <form  #registerForm="ngForm" class="form" [formGroup]="formValue">
        <div class="nome" >
          <p i18n>Name</p>
          
          <input formControlName="name" class="input-register"type="text"  required>
        </div>
        <div class="email">
          <p i18n>Email</p>
          
          <input formControlName="email" class="input-register" type="email"  required>
        </div>
        <div class="password">
          <p i18n>Password</p>
          
          <input minlength = '8' formControlName="password" class="input-register" type="password"  required>
        </div>
      </form>
      
      <button i18n [disabled]="registerForm.form.invalid" (click)="registerUser()" routerLink="/confirmation" [ngClass]="{
          'button-disable' : registerForm.form.invalid === true,
          'button-accept' : registerForm.form.invalid === false
      }">Create account</button>

    </div>
  </div>